.allContent {
    max-width: 1024px;
    margin: 40px auto;
    font-family: sans-serif;
    line-height: 1.8em;
}

img {
    float: right;
    margin-right: 40px;
}

code {
    padding: 20px; 
    display: block;
    background-color: WhiteSmoke ;
}